*{
    padding: 0;
    margin:0;
}
body{
    background-image: url(./image/bg7.jpg);
    background-size: 1600px 500px;
    background-repeat: no-repeat;
    
}
.container-md {
    
    margin-top: -1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 80px;
    
    
}
.container-md a{
   font-size: .43cm;
  font-weight: 400;
   margin-inline-end: 1cm;
   color: white;text-align: left;
   
}

.container-md a:hover{
    color: rgb(52, 232, 7);
}

.card h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;   
    font-size: 70px;
    font-weight: 800;
    
}  

.card-text{
    color: rgb(242, 244, 250);
    font-size: 17px;
    font-weight: 500;
}


.container1{
    margin-top: -4px;
    padding: 10px;
    
}
 